# Exports
export(criticalmoisture)
export(maxbulkdensity)
export(fitbusscher)
export(fitsoilwater)
export(getInitiallbc)
export(maxcurv)
export(soilwater)
export(SSlbc)
export(fitlbc)
export(fun2form)
export(liquidlimit)
export(Rsq)
export(Sindex)
export(sigmaP)
export(voidratio)
export(llwr)

# Imports
import(utils, rpanel)
importFrom(MASS, mvrnorm)

# S3method
S3method(print, criticalmoisture)
S3method(print, maxcurv)
S3method(print, S.index)
